# PostgreSQL
POSTGRES_PRIMARY_PORT=
POSTGRES_REPLICA_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PGUSER=
PGPASSWORD=

# Ofbiz
OFBIZ_POSTGRES_OFBIZ_DB=
OFBIZ_POSTGRES_OFBIZ_USER=
OFBIZ_POSTGRES_OFBIZ_PASSWORD=
OFBIZ_POSTGRES_OLAP_DB=ofbiz_olap
OFBIZ_POSTGRES_OLAP_USER=ofbizolap
OFBIZ_POSTGRES_OLAP_PASSWORD=ofbizolap
OFBIZ_POSTGRES_TENANT_DB=ofbiztenant
OFBIZ_POSTGRES_TENANT_USER=ofbiztenant
OFBIZ_POSTGRES_TENANT_PASSWORD=ofbiztenant
OFBIZ_POSTGRES_HOST=postgres_primary
OFBIZ_DATA_LOAD=demo
OFBIZ_SSL_PORT=8553
OFBIZ_HTTP_PORT=

# MySQL
MYSQL_PORT=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=



# Redis
REDIS_PORT=6379

# Backend
BACKEND_PORT=
SPRING_APPLICATION_NAME=
SPRING_PROFILES_ACTIVE=
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_JPA_HIBERNATE_DDL_AUTO=
SECURITY_JWT_SECRET_KEY=
SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE=5GB
SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE=5GB
SPRING_SERVLET_MULTIPART_ENABLED=true
AURIGRAPH_FARMERS_OPENAPI_DEV_URL=
APP_FILE_TARGET_DIR=
RESOURCE_LOCATION=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
DIGILOCKER_CLIENT_ID=
DIGILOCKER_CLIENT_SECRET=
DIGILOCKER_REDIRECT_URI=
DIGILOCKER_TOKEN_URL=
DIGILOCKER_DOCS_URL_ISSUED=
DIGILOCKER_DOCS_URL_E-AADHAAR=
DIGILOCKER_DOCS_BY_URI=
SERVER_URL=
SERVER_PORT=
DIGILOCKER_REVOKE=
SPRING_DATA_REDIS_HOST=
SPRING_DATA_REDIS_PORT=

# Frontend
FRONTEND_PORT=3005
NEXT_PUBLIC_API_URL=http://aurigraph-farmers-app:${SERVER_PORT}
NEXT_PUBLIC_OFBIZ_API_URL=http://ofbiz:8089
